.navbar-custom{
  position: relative;
  min-height: 50px;
  margin-bottom: 0x;
  border: 1px solid transparent;
}
.navbar-default {
	background-color: #000;
	border-color: #31b0d5;
        height: 30px;
        font-family: arial;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #31b0d5;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #8080ff;
	background-color: #000000;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #8080ff;
	background-color: #000000;
}
.navbar-default .navbar-toggle {
	border-color: #000000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #8080ff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #31b0d5;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #8080ff;
		background-color: #000000;
	}
}
.navbar-default navbar-nav > li > a {
    padding-top:10px !important; padding-bottom:10px !important;
}
.btn-default-custom {
    padding-bottom:  30px;
    height: 20px;
}
.navbar-btn-submit{
    margin-top: -15px;
    margin-bottom: 1px;
}
.row-pageswithsidebar{
    margin-left: 0;
    max-width: 100rem;
}

ul{
    margin-left: 0rem;
    margin-top: 0;
}
.sidebar-pagewithsidebar{
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 0px;
}
.navbar-collapse-pagewithsidebar{
    padding-right: 5px;
    padding-left: 5px;
    overflow-x: visible;
}
.nav > li > a-pagewithsidebar{
position: relative;
display: block;
padding: 10px 15px 10px 5px;
}