
.footer{
    color: #BABABA;
    font-size: x-small;
    font-family: Tahoma, sans-serif;
    clear: both;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

.width_email { 
   width:10em;
}